@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    /* --primary: #c026d3; */
    --primary: #00ff00;
    --text: #F4F4F4;
}

html {
    @apply
    scroll-smooth
}

* {
    @apply
    m-0 p-0 box-border
}

body {
    font-family: 'Kanit';
    @apply
    text-[1.125rem] text-text cursor-default overflow-x-hidden bg-black
}

::-webkit-scrollbar {
    @apply
    w-[3px]
}
::-webkit-scrollbar-track {
    @apply
    bg-transparent
}
::-webkit-scrollbar-thumb {
    @apply
    bg-text rounded-md
}

.logo {
    @apply
    w-full fixed top-0 left-0 pl-4 lg:pl-20 md:pt-2 lg:pt-5 text-[2.5rem] flex items-center gap-2 z-[100]
    bg-black  bg-opacity-90
}

.sidebar {
    @apply
    w-full sm:w-[70px] sm:h-screen flex flex-col sm:flex-row items-end sm:items-center justify-center 
    overflow-hidden fixed right-0 sm:left-0 top-[2px] sm:top-0 z-[101]
}

.sidebar .menu-icon {
    @apply
    w-10 aspect-square sm:hidden transition-all duration-300 hover:text-primary cursor-pointer mr-2 mt-2
}

.sidebar .menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: all .7s;
    @apply
    w-full grid-cols-1 bg-black bg-opacity-90 sm:rounded-md mt-[10px] sm:mt-0
}
.sidebar .menu {
    &.show {
        grid-template-rows: 1fr;
    }
}

@media only screen and (min-width: 640px) {
    .sidebar .menu {
        grid-template-rows: 1fr;
    }
}

.sidebar .menu > div {
    overflow: hidden;
}

.sidebar .menu .item {
    @apply
    w-full flex justify-start sm:justify-center items-center cursor-pointer transition-all duration-300 text-text 
    hover:text-primary p-4 gap-2
}

.sidebar .menu .item .text {
    @apply
    sm:hidden
}

.sidebar .menu .item .svg {
    @apply
    w-6 lg:h-full aspect-square
}

.scroll-down {
    animation: scroll 2s infinite alternate;
    @apply
    absolute bottom-[70px] flex items-center cursor-pointer z-[99] rotate-90
}
@keyframes scroll {
    100% {
        @apply
        opacity-20
    }
}

.footer {
    @apply
    w-full text-center fixed bottom-0 z-[111] bg-black font-sans bg-opacity-90 text-[.7rem] 
    min-[320px]:text-[.8rem] min-[400px]:text-[1rem]
}

.page {
    @apply
    w-full h-screen overflow-hidden relative
}

.page .container {
    @apply
    h-full flex flex-col lg:flex-row justify-center items-center gap-0
}

.page .container .left,
.page .container .right {
    @apply
    h-1/2 lg:h-full w-full lg:w-1/2 flex justify-center items-center
}

.page .container .content {
    @apply
    w-full h-full flex flex-col justify-start lg:justify-center items-center xl:pl-[150px] min-[1700px]:pl-0
}

.page .container .img {
    @apply
    rounded-full aspect-square w-[95%] min-[300px]:w-[300px] sm:w-[320px] lg:w-[450px] xl:w-[500px]
    2xl:w-[550px] min-[1700px]:w-[80%] self-end lg:self-center
}

.page .container .header {
    @apply
    text-center italic text-[1.5rem] sm:text-[2rem] lg:text-[3rem] xl:text-[3.5rem] min-[1700px]:text-[4rem]
    text-primary mb-2 font-medium mt-4 lg:mt-0
}

.page .container .text {
    @apply
    text-justify text-[.8rem] sm:text-[1.05rem] lg:text-[1.4rem] xl:text-[1.5rem] min-[1700px]:text-[1.8rem]
    font-sans w-[95%] min-[300px]:w-[300px] sm:w-[70%] lg:w-[75%] xl:w-[100%]
}

.page .container .text span {
    @apply
    font-bold italic
}

.home {
    @apply
    bg-fixed bg-cover bg-[url('../images/BG2.jpg')] sm:bg-[url('../images/BG3.jpg')]
    lg:bg-[url('../images/BG.jpg')] 2xl:bg-[url('../images/BG1.jpg')]
}

.frontend {
    text-shadow: 3px 3px 5px #444;
    @apply
    w-full lg:w-auto text-[3rem] sm:text-[5rem] xl:text-[7rem] min-[1700px]:text-[9rem]
}

.developer {
    /* -webkit-text-stroke: .5px var(--primary); */
    @apply
    w-full lg:w-auto text-[2rem] sm:text-[3rem] xl:text-[4rem] min-[1700px]:text-[5rem] tracking-[.7rem] 
    sm:tracking-[1.3rem] lg:tracking-[1.4rem] xl:tracking-[2rem] min-[1700px]:tracking-[2.7rem] italic
    text-transparent mt-[-10px] lg:mt-[-40px] lg:mr-[-30px]
}

.developer::before {
    content: attr(data-text);
    animation: developer 5s infinite alternate, cursor .8s linear infinite;
    @apply
    absolute w-0 h-full border-r-[3px] border-primary left-0 top-0 text-primary overflow-hidden 
    whitespace-nowrap
}
@keyframes developer {
    100% {
        @apply
        w-full
    }
}
@keyframes cursor {
    100% {
        @apply
        border-none
    }
}

.technologies {
    @apply
    w-full lg:w-auto text-[1.5rem] sm:text-[2.5rem] xl:text-[3.5rem] min-[1700px]:text-[4rem] overflow-hidden 
    lg:mt-[-10px] 2xl:mt-[-20px]
}

.technologies div {
    animation: techno 5s linear infinite;
    filter: blur(15px);
    @apply
    translate-y-[100px]
}
@keyframes techno {
    15% {
        transform: translateY(0);
        filter: blur(0);
    }
    85% {
        transform: translateY(0);
        filter: blur(0);
    }
    100% {
        transform: translateY(-100px);
        filter: blur(15px);
    }
}

.technologies .techno {
    &.vue {
        @apply
        text-[#42b883]
    }
    &.nuxt {
        @apply
        text-[#00DC82]
    }
    &.tailwindcss {
        @apply
        text-[#06b6d4]
    }
    &.typescript {
        @apply
        text-[#007acc]
    }
    &.node {
        @apply
        text-[#68a063]
    }
    &.supabase {
        @apply
        text-[#3ecf8e]
    }
}



.modal {
    @apply
    fixed left-0 top-0 w-screen h-screen bg-white bg-opacity-10 z-[110] flex justify-center items-center
    transition-all duration-700 scale-0 opacity-0 backdrop-blur-md
}

.modal .contact {
    @apply
    relative bg-black w-[90%] lg:w-[60%] rounded-md px-4
}

.modal .contact .close {
    @apply
    absolute top-[6px] md:top-[14px] right-1 w-8 aspect-square cursor-pointer
}

.modal .contact .header {
    @apply
    text-[1.8rem] md:text-[3rem]
}

.modal .contact .contact-ways {
    @apply
    w-full grid grid-cols-1 md:grid-cols-2 justify-center items-center my-4 mb-6 gap-5
}

.modal .contact .contact-ways .item {
    @apply
    w-full flex items-center transition-colors duration-100 gap-5 rounded-md text-text p-2
}
.modal .contact .contact-ways .item:hover {
    @apply
    text-primary
}

.modal .contact .contact-ways .item .svg {
    @apply
    w-[70px] md:w-[90px] aspect-square
}

.modal .contact .contact-ways .item .text {
    @apply
    w-full text-[2rem] md:text-[2.5rem]
}