@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --primary: #1CFEFC;
    --text: #F4F4F4;
}


* {
    @apply
    m-0 p-0 box-border
}

body {
    font-family: 'Kanit';
    @apply
    w-screen h-screen text-[1.125rem] bg-black bg-[url('../images/BG2.jpg')] md:bg-[url('../images/BG3.jpg')]
    lg:bg-[url('../images/BG.jpg')] bg-fixed bg-cover text-text cursor-default overflow-x-hidden
    backdrop-brightness-[80%]
}

.logo {
    @apply
    absolute left-4 lg:left-20 md:top-2 lg:top-5 text-[2.5rem] flex items-center gap-2 text-primary
}

.header img {
    @apply
    h-full w-[150px]
}

.sidebar {
    @apply
    w-full lg:w-[70px] lg:h-screen flex flex-col lg:flex-row items-end lg:items-center justify-center overflow-hidden p-2 fixed 
    right-0 lg:left-0 top-[2px] lg:top-0
}

.sidebar .menu-icon {
    @apply
    w-10 aspect-square lg:hidden transition-all duration-300 hover:text-primary cursor-pointer
}

.sidebar .menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: all .7s;
    @apply
    w-full grid-cols-1 bg-black bg-opacity-80 mt-6 lg:mt-0
}
.sidebar .menu {
    &.show {
        grid-template-rows: 1fr;
    }
}

@media only screen and (min-width: 1024px) {
    .sidebar .menu {
        grid-template-rows: 1fr;
    }
}

.sidebar .menu > div {
    overflow: hidden;
}

.sidebar .menu .item {
    @apply
    w-full flex justify-center items-center cursor-pointer transition-all duration-300 text-text hover:text-primary
    p-4 gap-2
}

.sidebar .menu .item .text {
    @apply
    lg:hidden
}

.sidebar .menu .item .svg {
    @apply
    w-6 lg:h-full aspect-square
}

.scroll-down {
    animation: scroll 1s infinite alternate;
    @apply
    fixed right-[-50px] bottom-[80px] flex items-center gap-1 rotate-90 cursor-pointer
}

@keyframes scroll {
    100% {
        @apply
        opacity-20
    }
}

.container {
    @apply
    w-full
}

.container .title {
    @apply
    w-full h-screen flex justify-center lg:justify-end lg:items-center text-center font-medium
}

.container .title .top {
    @apply
    w-full text-[3rem] md:text-[5rem] xl:text-[6rem] 2xl:text-[9rem] mt-[100px] lg:mt-0
}

.container .title .bot {
    animation: test 1s infinite alternate;
    @apply
    w-full text-[2rem] md:text-[3rem] xl:text-[3rem] 2xl:text-[5rem] tracking-[.7rem] md:tracking-[1.3rem] 
    lg:tracking-[1.7rem] xl:tracking-[2rem] 2xl:tracking-[2.7rem] ml-1 md:ml-2 lg:ml-4 mt-[-20px] italic
}

@keyframes test {
    100% {
        @apply
        text-primary
    }
}